body{

  background: #132c4f;
  font-size: 20px;
  margin: 0px;


}      

header {
  background: #1c3666;
  color: #ffa112;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  border-bottom: solid #ab1e30 4px;
  padding-left: 80px;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 60px;
}

section{
  background: #1c3666;
  margin-top: 60;
  display: flex;

}

.filmes-1{
  margin-left: 100px;
  margin-right: 100px;
}

div {
     font-family: "Exo 2", sans-serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-size: 20;
     margin-top: 15;
     margin-bottom: 15;
     color: white;
     }
p{
  font-size: 20;
}

.informacoes-1{
  padding-left: 400;
  padding-top: 15;
}

.video{
  margin-left: 250;
  opacity: 0.75;
  padding-top: 15;
  padding-bottom: 15;
}

h1 {
  font-weight: 500;
}

.videos{
  margin-left: 250;
  margin-top: 0;
  opacity: 0.75;

}

.informacoes-2 {
  padding-left: 250;
}
.video:hover {
  opacity: 1;
}

.videos:hover {
  opacity: 1;
}

.outros-filmes{
  margin-left: 100px;
  margin-right: 100px;
}
