body{

  background: #08152d;
  font-size: 20px;
  margin: 0px;

}      

header {
  color: #ffa112;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  border-bottom: solid #ab1e30 2px;
  padding-left: 55px;
  padding-top: 25px;
  padding-bottom: 15px
}

div {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 25px;
  color: white;
}
h1 {
  font-weight: 600;
}
